* {
  font-size: 1.3rem;
}

html {
    margin: auto;
    display: table;
}

header {
  gap: 0.3rem;
  display: flex;
  flex-direction: column;
}

section {
  gap: 0.3rem;
  display: flex;
}

input, button, select {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
}
