* {
  font-size: 1.3rem;
}

body {
  width: 640px;
  margin: auto;
}

header {
  gap: 0.1rem;
  display: flex;
}

input, button, select {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
}
